In [1]:
import pandas as pd

In [2]:
# how to load data in pandas.....

In [9]:

data = pd.read_csv("coustmerdata.csv")
# data = pd.read_csv("C:\\Users\\17nru\\OneDrive\\Desktop\\ai classes\\coustmerdata.csv")

In [10]:
data

,CustomerKey,Prefix,FirstName,LastName,BirthDate,MaritalStatus,Gender,EmailAddress,AnnualIncome,TotalChildren,EducationLevel,Occupation,HomeOwner
0,11000,MR.,JON,YANG,4/8/1966,M,M,jon24@adventure-works.com,"$90,000",2,Bachelors,Professional,Y
1,11001,MR.,EUGENE,HUANG,5/14/1965,S,M,eugene10@adventure-works.com,"$60,000",3,Bachelors,Professional,N
2,11002,MR.,RUBEN,TORRES,8/12/1965,M,M,ruben35@adventure-works.com,"$60,000",3,Bachelors,Professional,Y
3,11003,MS.,CHRISTY,ZHU,2/15/1968,S,F,christy12@adventure-works.com,"$70,000",0,Bachelors,Professional,N
4,11004,MRS.,ELIZABETH,JOHNSON,8/8/1968,S,F,elizabeth5@adventure-works.com,"$80,000",5,Bachelors,Professional,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18143,29479,MR.,TOMMY,TANG,7/4/1958,M,M,tommy2@adventure-works.com,"$30,000",1,Graduate Degree,Clerical,Y
18144,29480,MRS.,NINA,RAJI,11/10/1960,S,F,nina21@adventure-works.com,"$30,000",3,Graduate Degree,Clerical,Y
18145,29481,MR.,IVAN,SURI,1/5/1960,S,M,ivan0@adventure-works.com,"$30,000",3,Graduate Degree,Clerical,N
18146,29482,MR.,CLAYTON,ZHANG,3/5/1959,M,M,clayton0@adventure-works.com,"$30,000",3,Bachelors,Clerical,Y
18147,29483,MR.,JÉSUS,NAVARRO,12/8/1959,M,M,jésus9@adventure-works.com,"$30,000",0,Bachelors,Clerical,Y

In [11]:
data2 = pd.read_csv("exams.csv")

In [12]:
data2

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,male,group A,high school,standard,completed,67,67,63
1,female,group D,some high school,free/reduced,none,40,59,55
2,male,group E,some college,free/reduced,none,59,60,50
3,male,group B,high school,standard,none,77,78,68
4,male,group E,associate's degree,standard,completed,78,73,68
...,...,...,...,...,...,...,...,...
995,male,group C,high school,standard,none,73,70,65
996,male,group D,associate's degree,free/reduced,completed,85,91,92
997,female,group C,some high school,free/reduced,none,32,35,41
998,female,group C,some college,standard,none,73,74,82
999,male,group A,some college,standard,completed,65,60,62

In [14]:
data2.to_string()

"     gender race/ethnicity parental level of education         lunch test preparation course  math score  reading score  writing score\n0      male        group A                 high school      standard               completed          67             67             63\n1    female        group D            some high school  free/reduced                    none          40             59             55\n2      male        group E                some college  free/reduced                    none          59             60             50\n3      male        group B                 high school      standard                    none          77             78             68\n4      male        group E          associate's degree      standard               completed          78             73             68\n5    female        group D                 high school      standard                    none          63             77             76\n6    female        group A           bachelor's degree      standard                    none          62             59             63\n7      male        group E                some college      standard               completed          93             88             84\n8      male        group D                 high school      standard                    none          63             56             65\n9      male        group C                some college  free/reduced                    none          47             42             45\n10     male        group E                some college      standard               completed          99             83             85\n11   female        group D                 high school      standard               completed          80             87             90\n12     male        group D          associate's degree      standard               completed          77             87             85\n13     male        group C                 high school      standard               completed          74             74             73\n14     male        group E            some high school      standard               completed          81             87             85\n15     male        group E          associate's degree  free/reduced                    none          69             61             57\n16     male        group B                 high school      standard                    none          58             47             42\n17   female        group C          associate's degree      standard               completed          54             62             65\n18   female        group C          associate's degree  free/reduced                    none          23             44             44\n19     male        group C                some college  free/reduced                    none          39             32             31\n20   female        group C          associate's degree      standard                    none          83             76             88\n21     male        group C          associate's degree      standard                    none          58             52             55\n22     male        group B                some college      standard               completed          71             69             73\n23   female        group B                some college  free/reduced                    none          44             55             54\n24     male        group E            some high school  free/reduced                    none          46             38             32\n25     male        group C                 high school  free/reduced                    none          51             45             42\n26   female        group C            some high school      standard                    none          53             60             56\n27     male        group E                 high school      standard                    none          71             68             60\n28   female        group B                 high school      standard               completed          74             89             89\n29   female        group A            some high school  free/reduced                    none          33             54             51\n30     male        group B                some college      standard                    none          87             79             77\n31     male        group A           bachelor's degree  free/reduced                    none          78             74             73\n32     male        group A            some high school  free/reduced               completed          40             41             39\n33   female        group B          associate's degree      standard               completed          65             65             71\n34   female        group B           bachelor's degree      standard               completed          79             88             89\n35   female        group A           bachelor's degree      standard                    none          68             74             74\n36   female        group C                some college      standard               completed          57             77             75\n37     male        group B                 high school  free/reduced                    none          67             65             54\n38   female        group B                some college  free/reduced               completed          58             68             73\n39     male        group E          associate's degree      standard                    none          98             81             77\n40   female        group B             master's degree  free/reduced                    none          54             75             72\n41     male        group D                 high school      standard                    none          77             67             64\n42     male        group E                 high school      standard               completed          87             79             82\n43   female        group C             master's degree      standard                    none          58             70             70\n44     male        group E                 high school      standard                    none         100             88             87\n45     male        group C           bachelor's degree      standard                    none          60             46             51\n46     male        group C          associate's degree  free/reduced                    none          64             63             57\n47   female        group E            some high school      standard               completed          65             76             78\n48   female        group D                 high school      standard                    none          68             72             73\n49     male        group C          associate's degree  free/reduced               completed          60             63             57\n50     male        group D                 high school      standard                    none          65             68             64\n51   female        group C            some high school  free/reduced                    none          52             58             60\n52   female        group C          associate's degree      standard                    none          74             81             85\n53   female        group C                 high school  free/reduced                    none          36             53             49\n54     male        group D                 high school  free/reduced                    none          57             57             47\n55   female        group C                some college      standard               completed          56             60             62\n56   female        group C           bachelor's degree      standard               completed          67             80             84\n57     male        group D          associate's degree      standard               completed          88             87             83\n58   female        group D                some college  free/reduced                    none          42             61             51\n59     male        group E            some high school      standard                    none          68             51             48\n60     male        group D                some college  free/reduced                    none          76             66             68\n61   female        group E            some high school      standard                    none          58             63             59\n62     male        group E            some high school      standard               completed          69             67             62\n63     male        group A           bachelor's degree      standard               completed          77             82             78\n64     male        group D             master's degree      standard               completed          83             93             97\n65   female        group C            some high school  free/reduced               completed          49             74             70\n66     male        group C                 high school      standard                    none          71             60             56\n67   female        group D            some high school  free/reduced                    none          47             46             49\n68     male        group B                 high school      standard                    none          79             64             60\n69   female        group C                 high school      standard                    none          60             64             57\n70   female        group C          associate's degree      standard               completed          56             68             73\n71     male        group C          associate's degree      standard                    none          57             52             47\n72   female        group B                some college      standard                    none          49             70             63\n73   female        group C            some high school      standard               completed          79             76             81\n74     male        group B             master's degree  free/reduced                    none          71             76             67\n75   female        group C                 high school      standard                    none          71             77             70\n76   female        group C                some college      standard                    none          47             63             59\n77   female        group D                 high school  free/reduced                    none          72             91             81\n78     male        group C          associate's degree      standard                    none          78             73             76\n79     male        group D            some high school      standard                    none          54             43             45\n80   female        group B           bachelor's degree      standard                    none          46             59             62\n81   female        group D            some high school  free/reduced                    none          31             38             42\n82   female        group C          associate's degree  free/reduced                    none          51             59             59\n83     male        group B                 high school      standard               completed          78             76             73\n84   female        group B          associate's degree  free/reduced                    none          32             41             39\n85   female        group C            some high school      standard                    none          53             71             69\n86   female        group C                some college  free/reduced                    none          63             76             69\n87     male        group D                some college      standard                    none          97             93             88\n88   female        group D                some college      standard                    none          56             52             61\n89     male        group B                 high school      standard                    none          72             76             72\n90     male        group C                some college  free/reduced                    none          57             47             42\n91     male        group B            some high school      standard                    none          74             71             70\n92   female        group D             master's degree      standard                    none          81             81             87\n93     male        group D           bachelor's degree      standard               completed          94             87             93\n94     male        group B             master's degree  free/reduced                    none          81             73             72\n95   female        group C                 high school      standard               completed          58             63             67\n96   female        group E          associate's degree      standard               completed          95            100            100\n97     male        group B                 high school  free/reduced                    none          45             52             49\n98     male        group A                some college      standard                    none          63             50             49\n99     male        group B          associate's degree      standard                    none          60             54             53\n100    male        group C                some college  free/reduced               completed          54             61             62\n101    male        group C                some college      standard               completed          75             78             79\n102    male        group E                 high school      standard                    none          79             78             77\n103    male        group D                 high school      standard                    none          66             67             67\n104  female        group B                some college      standard                    none          47             58             58\n105  female        group D           bachelor's degree      standard                    none          70             78             82\n106    male        group D                 high school      standard                    none          82             74             73\n107    male        group A           bachelor's degree      standard                    none          56             38             44\n108    male        group B          associate's degree      standard                    none          92             78             71\n109    male        group C                some college  free/reduced                    none          30             33             33\n110  female        group C                some college      standard               completed          79             88             86\n111  female        group D            some high school      standard                    none          41             52             47\n112  female        group C             master's degree      standard                    none          63             82             71\n113    male        group A           bachelor's degree  free/reduced                    none          43             34             33\n114    male        group D                 high school      standard                    none          77             76             74\n115    male        group B          associate's degree      standard               completed          76             79             76\n116  female        group E                some college  free/reduced                    none          49             61             63\n117    male        group C          associate's degree      standard               completed          59             57             55\n118    male        group B           bachelor's degree  free/reduced                    none          59             70             58\n119  female        group D            some high school      standard               completed          76             90             87\n120  female        group C                 high school      standard               completed          55             71             71\n121  female        group D           bachelor's degree      standard               completed          78             87             89\n122  female        group C           bachelor's degree      standard               completed          51             53             62\n123  female        group C            some high school      standard               completed          41             43             45\n124  female        group D          associate's degree      standard                    none          74             78             86\n125    male        group C             master's degree      standard                    none          62             54             58\n126    male        group D          associate's degree      standard                    none          77             71             64\n127    male        group C            some high school      standard                    none          45             52             45\n128    male        group E                some college      standard               completed         100             84             87\n129  female        group D          associate's degree  free/reduced               completed          83             95            100\n130  female        group E          associate's degree  free/reduced               completed          77             75             82\n131    male        group C                 high school      standard               completed          66             70             64\n132    male        group B                some college      standard                    none          65             63             57\n133    male        group D          associate's degree      standard                    none          62             55             56\n134    male        group E                some college      standard                    none          55             54             54\n135    male        group C            some high school  free/reduced                    none          73             78             69\n136    male        group A                some college      standard               completed          73             81             76\n137  female        group B          associate's degree      standard               completed          48             66             68\n138    male        group D                some college  free/reduced                    none          52             44             49\n139  female        group C            some high school  free/reduced                    none          60             72             64\n140    male        group B          associate's degree  free/reduced                    none          68             63             57\n141  female        group D                some college  free/reduced                    none          65             77             83\n142  female        group D           bachelor's degree      standard                    none          86             83             87\n143  female        group B          associate's degree      standard                    none          55             62             60\n144    male        group B             master's degree      standard               completed          80             71             68\n145  female        group B                 high school  free/reduced                    none          51             57             57\n146  fe

In [15]:
data2

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,male,group A,high school,standard,completed,67,67,63
1,female,group D,some high school,free/reduced,none,40,59,55
2,male,group E,some college,free/reduced,none,59,60,50
3,male,group B,high school,standard,none,77,78,68
4,male,group E,associate's degree,standard,completed,78,73,68
...,...,...,...,...,...,...,...,...
995,male,group C,high school,standard,none,73,70,65
996,male,group D,associate's degree,free/reduced,completed,85,91,92
997,female,group C,some high school,free/reduced,none,32,35,41
998,female,group C,some college,standard,none,73,74,82
999,male,group A,some college,standard,completed,65,60,62

In [16]:
# head() -> return top 5 rows

In [17]:
data2.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,male,group A,high school,standard,completed,67,67,63
1,female,group D,some high school,free/reduced,none,40,59,55
2,male,group E,some college,free/reduced,none,59,60,50
3,male,group B,high school,standard,none,77,78,68
4,male,group E,associate's degree,standard,completed,78,73,68

In [18]:
data2.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,male,group A,high school,standard,completed,67,67,63
1,female,group D,some high school,free/reduced,none,40,59,55
2,male,group E,some college,free/reduced,none,59,60,50
3,male,group B,high school,standard,none,77,78,68
4,male,group E,associate's degree,standard,completed,78,73,68
5,female,group D,high school,standard,none,63,77,76
6,female,group A,bachelor's degree,standard,none,62,59,63
7,male,group E,some college,standard,completed,93,88,84
8,male,group D,high school,standard,none,63,56,65
9,male,group C,some college,free/reduced,none,47,42,45

In [19]:
# tail() -> return last 5 reacord....

In [20]:
data2.tail()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
995,male,group C,high school,standard,none,73,70,65
996,male,group D,associate's degree,free/reduced,completed,85,91,92
997,female,group C,some high school,free/reduced,none,32,35,41
998,female,group C,some college,standard,none,73,74,82
999,male,group A,some college,standard,completed,65,60,62

In [21]:
data2.tail(7)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
993,female,group A,associate's degree,standard,none,58,54,58
994,male,group E,high school,free/reduced,completed,86,82,75
995,male,group C,high school,standard,none,73,70,65
996,male,group D,associate's degree,free/reduced,completed,85,91,92
997,female,group C,some high school,free/reduced,none,32,35,41
998,female,group C,some college,standard,none,73,74,82
999,male,group A,some college,standard,completed,65,60,62

In [22]:
# sample() -> return random rows

In [26]:
data2.sample()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
420,female,group A,bachelor's degree,standard,none,57,71,63

In [27]:
data2.sample(5)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
993,female,group A,associate's degree,standard,none,58,54,58
649,female,group B,high school,free/reduced,none,30,43,40
390,female,group C,some college,standard,none,63,62,64
466,female,group B,some college,free/reduced,completed,74,85,82
955,male,group D,associate's degree,standard,completed,83,76,81

In [28]:
# info() -----> return information about dataset

In [29]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [30]:
data2.head(3)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,male,group A,high school,standard,completed,67,67,63
1,female,group D,some high school,free/reduced,none,40,59,55
2,male,group E,some college,free/reduced,none,59,60,50

In [31]:
data2["parental level of education"]

0             high school
1        some high school
2            some college
3             high school
4      associate's degree
              ...
995           high school
996    associate's degree
997      some high school
998          some college
999          some college
Name: parental level of education, Length: 1000, dtype: object

In [35]:
data2["parental level of education"][0]

'high school'

In [36]:
data2

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,male,group A,high school,standard,completed,67,67,63
1,female,group D,some high school,free/reduced,none,40,59,55
2,male,group E,some college,free/reduced,none,59,60,50
3,male,group B,high school,standard,none,77,78,68
4,male,group E,associate's degree,standard,completed,78,73,68
...,...,...,...,...,...,...,...,...
995,male,group C,high school,standard,none,73,70,65
996,male,group D,associate's degree,free/reduced,completed,85,91,92
997,female,group C,some high school,free/reduced,none,32,35,41
998,female,group C,some college,standard,none,73,74,82
999,male,group A,some college,standard,completed,65,60,62

In [37]:
data2.loc[995]

gender                                male
race/ethnicity                     group C
parental level of education    high school
lunch                             standard
test preparation course               none
math score                              73
reading score                           70
writing score                           65
Name: 995, dtype: object

In [38]:
# iloc[]

In [ ]:
# datasetname.iloc[rows, columns]

In [40]:
data2.iloc[[2, 4], :]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
2,male,group E,some college,free/reduced,none,59,60,50
4,male,group E,associate's degree,standard,completed,78,73,68

In [42]:
data2.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,male,group A,high school,standard,completed,67,67,63
1,female,group D,some high school,free/reduced,none,40,59,55
2,male,group E,some college,free/reduced,none,59,60,50
3,male,group B,high school,standard,none,77,78,68
4,male,group E,associate's degree,standard,completed,78,73,68

In [43]:
data2.iloc[:, [2, 5, 7]]

    parental level of education  math score  writing score
0                   high school          67             63
1              some high school          40             55
2                  some college          59             50
3                   high school          77             68
4            associate's degree          78             68
..                          ...         ...            ...
995                 high school          73             65
996          associate's degree          85             92
997            some high school          32             41
998                some college          73             82
999                some college          65             62

[1000 rows x 3 columns]

In [44]:
data2.iloc[:10, [2, 5, 7]]

  parental level of education  math score  writing score
0                 high school          67             63
1            some high school          40             55
2                some college          59             50
3                 high school          77             68
4          associate's degree          78             68
5                 high school          63             76
6           bachelor's degree          62             63
7                some college          93             84
8                 high school          63             65
9                some college          47             45

In [45]:
data2.iloc[:10, [2, 5, -1]]

  parental level of education  math score  writing score
0                 high school          67             63
1            some high school          40             55
2                some college          59             50
3                 high school          77             68
4          associate's degree          78             68
5                 high school          63             76
6           bachelor's degree          62             63
7                some college          93             84
8                 high school          63             65
9                some college          47             45

In [47]:
data2.iloc[500:600, :]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
500,female,group B,high school,free/reduced,none,53,64,63
501,female,group C,associate's degree,standard,none,87,87,92
502,male,group D,associate's degree,standard,none,71,57,59
503,male,group D,high school,standard,none,77,80,72
504,female,group C,high school,free/reduced,completed,43,48,53
...,...,...,...,...,...,...,...,...
595,female,group B,some college,standard,none,46,54,54
596,female,group B,high school,free/reduced,completed,75,85,90
597,female,group A,some college,standard,none,46,51,54
598,male,group A,some high school,free/reduced,none,42,40,40
599,female,group C,some high school,standard,completed,77,86,90

In [52]:
data2["math score"]

0      67
1      40
2      59
3      77
4      78
       ..
995    73
996    85
997    32
998    73
999    65
Name: math score, Length: 1000, dtype: int64

In [53]:
data2["math score"].mean()

66.396

In [54]:
data2["math score"].median()

66.5

In [55]:
data2["math score"].mode()

0    63
Name: math score, dtype: int64